.profile__edit {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: #fff 1px solid;
    background-color: #000;
    cursor: pointer;
    align-self: center;
    margin-left: 18px;
}

.profile__edit:hover {
    opacity: 60%;
}

@media screen and (max-width: 1023px) {
    .profile__edit {
        margin-left: 5px;
    }
    
}

@media screen and (max-width: 767px) {
    .profile__edit {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
    
}