.profile__add {
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: #fff 2px solid;
    border-radius: 2px;
    align-self: center;
    background-color: #000;
    margin-left: auto;
    cursor: pointer;
}

.profile__add:hover {
    opacity: 60%;
}

@media screen and (max-width: 767px) {
    .profile__add {
        margin: 36px 0 0;
        width: 282px;
    }
    
}