.form-place__close {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background: url(./../../../images/close_icon.svg);
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: -42px;
  right: -44px;
  cursor: pointer;
}

.form-place__close:hover {
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .form-place__close {
    width: 20px;
    height: 20px;
    top: -61px;
    right: -22px;
    background-size: contain;
  }
}
