.elements {
    margin: 51px auto 0;
    outline: greenyellow 1px solid;
    max-width: 880px;
}

@media screen and (max-width: 1023px) {
    .elements {
        max-width: 581px;
    }
    
}

@media screen and (max-width: 767px) {
    .elements {
        max-width: 282px;
        margin-top: 36px;
    }
    
}