.profile__photo {
    background: url(./../../../images/profile-photo.png);
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .profile__photo {
        margin: 0 auto;
    }

}
