.profile__photo:hover {
  background: url(./../../../images/avatar_edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__photo {
        margin: 0 auto;
    }

}
