.popup-place_opened {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
}
