.elements__like-icon {
    margin-right: 15px;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.elements__like-icon:hover {
    opacity: 50%;
}

.elements__like-icon:focus {
    background: url(./../../../images/like_active.svg);
    box-sizing: border-box;
    border: none;
    background-repeat: no-repeat;
    background-position: top;
}
