.form__input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 30px;
  padding: 0 0 13px;
}

@media screen and (max-width: 767px) {
  .form__field-about {
    width: 238px;
    margin-top: 75px;
  }
}
